<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!-- 启用cache注解 -->
    <cache:annotation-driven cache-manager="springCacheManager"/>

    <!-- 使用redis -->
    <!--<import resource="classpath:/cache/applicationContext-cache-redis.xml" />-->

    <!-- 使用ehcache -->
    <import resource="classpath:/cache/applicationContext-cache-ehcache.xml"/>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.hongguaninfo.hgdf.adp.core.utils.cache.CacheUtils.setCacheManager"/>
        <property name="arguments" ref="springCacheManager"/>
    </bean>

</beans>