<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <!-- 集群开启 <distributable /> -->

    <!-- 应用名称 -->
    <display-name>hgadp</display-name>

    <!-- 初始化参数 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
			classpath*:/applicationContext.xml
		</param-value>
    </context-param>

    <!-- 默认listener -->
    <listener>
        <listener-class>com.hongguaninfo.hgdf.adp.core.listener.DefaultListener</listener-class>
    </listener>
    <!-- 装载 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- 处理缓冲泄露 -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <!-- shiro配置 -->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 默认filter -->
    <filter>
        <filter-name>defaultFilter</filter-name>
        <filter-class>com.hongguaninfo.hgdf.adp.core.filter.DefaultFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>defaultFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- 字符编码过滤 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 延迟关闭session至view层 <filter> <filter-name>openEntityManagerInViewFilter</filter-name> 
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class> 
        </filter> <filter-mapping> <filter-name>openEntityManagerInViewFilter</filter-name> 
        <url-pattern>/*</url-pattern> </filter-mapping> -->

    <!-- spring mvc -->
    <servlet>
        <servlet-name>springServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:/spring/spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- druid监控 -->
    <filter>
        <filter-name>DruidWebStatFilter</filter-name>
        <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>exclusions</param-name>
            <!-- <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value> -->
            <param-value>/static/*,/druid/*</param-value>
        </init-param>
        <init-param>
            <param-name>sessionStatMaxCount</param-name>
            <param-value>500</param-value>
        </init-param>
        <init-param>
            <param-name>principalSessionName</param-name>
            <param-value>SESSION_USER</param-value>
        </init-param>
        <init-param>
            <param-name>profileEnable</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>DruidWebStatFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DruidStatView</servlet-name>
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>DruidStatView</servlet-name>
        <url-pattern>/druid/*</url-pattern>
    </servlet-mapping>

    <!-- compress 注：jetty容器下有异常 -->
    <filter>
        <filter-name>CompressFilter</filter-name>
        <filter-class>com.hongguaninfo.hgdf.adp.core.filter.CompressFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CompressFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CompressFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- session filter <filter> <filter-name>sessionFilter</filter-name> 
        <filter-class>com.hongguaninfo.hgdf.adp.core.filter.SessionFilter</filter-class> 
        </filter> <filter-mapping> <filter-name>sessionFilter</filter-name> <url-pattern>/*</url-pattern> 
        </filter-mapping> -->

    <!-- activiti -->
    <!-- Restlet adapter, used to expose modeler functionality through REST -->
    <servlet>
        <servlet-name>ExplorerRestletServlet</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <init-param>
            <!-- Application class name -->
            <param-name>org.restlet.application</param-name>
            <param-value>org.activiti.explorer.rest.ExplorerRestApplication</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RestletServlet</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <init-param>
            <!-- Application class name -->
            <param-name>org.restlet.application</param-name>
            <param-value>org.activiti.rest.service.application.ActivitiRestServicesApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExplorerRestletServlet</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

    <!-- 一些默认页面 -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/jsp/error/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/jsp/error/500.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>

    <!-- database -->
    <resource-ref>
        <description>Database Source</description>
        <res-ref-name>jdbc/hgadp</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!-- http请求方法限制
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>adp</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>adp-activiti</web-resource-name>
            <url-pattern>/service/*</url-pattern>
            <http-method>OPTIONS</http-method>
        </web-resource-collection>
        <auth-constraint>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config> -->
</web-app>